<nav class="blue-grey lighten-4" role="navigation">
    <div class="nav-wrapper container row">
        <img class="left" id="mini-logo" src="./images/Forage.png" alt="Forage Logo">
        <a id="logo-container" href="/members" class="brand-logo col s3">Forage</a>

        <ul class="right hide-on-med-and-down col s7">

            <li><a href="/food-search">Search Food</a></li>
            <li><a href="/view-all">Check your Food</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav right">
            <li><a href="/food-search">Search Food</a></li>
            <li><a href="/view-all">Check your Food</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Welcome to Your Food/Recipe Plan : <i><b><span class="member-name"></span></h2></i></b>
        </div>
    </div>
    <div class="row">
        <div class="show-BF col l3 m6 s12">
            <button data-name="breakfast" data-user={{id}} id="display" class="waves-effect waves-light btn">Display Breakfast Plans</button>
        </div>
        <div class="show-LN col l3 m6 s12">
            <button data-name="lunch" data-user={{id}} id="display" class="waves-effect waves-light btn">Display Lunch Plans</a>
        </div>
        <div class="show-DN col l3 m6 s12">
            <button data-name="dinner" data-user={{id}} id="display" class="waves-effect waves-light btn">Display Dinner Plans</button>
        </div>
        <div class="show-SN col l3 m6 s12">
            <button data-name="snack" data-user={{id}} id="display" class="waves-effect waves-light btn">Display Snack Plans</button>
        </div>
    </div>
    <div class="row stored-food">
    </div>
</div>
<script type="text/javascript" src="/js/view-all.js"></script>

{{!-- href="/api/meals/breakfast?users_id={{id}}" --}}